body {
    border: 1px solid black;
    text-align: center;
    position: relative;
    justify-content: center;
}
.items {

    margin: 12px;
}
.items > h2 {
    display: inline;
    float: left;
}
.items > img {
    float: left;
    height: 60px;
    width: 60px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    color: #046380;
}

a:hover {
    color: #034F66;
}


button {
    background-color: #046380;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 0 #034154;
    margin-bottom: 10px;
    margin-left: 18px;
    margin-top: 60px;
    transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
    position: relative;
}

button:hover {
    background-color: #034F66;
}
button > .sodinti-agurka {
    position: absolute;
}
button > .sodinti-paprika {
    position: absolute;
}